<style>
    h3{
      background-color: grey;
      font-size: medium;
      font-family: 'Cedarville Cursive', cursive;;
      color: white;
      text-align: center;
      width:auto;
    }
    body{
      width:auto;
      
      
    }
    form{
      background-color: white;
    }
    .imag-container{
      text-align: center;
    }
          table{
            margin:auto;
            text-align: center;
            width: 10px;
          }
    #main{
      margin: auto;
      height: auto;
      
    }
    .back{
      position: relative;;
      top:110px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      display:inline-block;

    }

    .contact{
      margin:auto;
    }
    .contact label{
      text-align: left;
      display:inline-block;
      float: left;
    }
    .contact input{
      text-align: left;
      float:right;
      display:inline-block;
    }
    #submit{
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      width: 52%;
      display:inline-block;
    }
    footer { 
      background-color: black;
          position: fixed; 
          padding: 10px 10px 0px 10px; 
          bottom: 0; 
          width: auto; 
          margin-right:auto;
          margin-left:auto;
          left:20%;
          height: 40px; 
          background: white; 
          

      } 
  </style> 
  <!--  <style>
  h3{
    background-color: grey;
    font-size: medium;
    font-family: 'Cedarville Cursive', cursive;;
    color: white;
    text-align: center;
    width:auto;
  }
  body{
    width:auto;
    
    
  }
  form{
    background-color: white;
  }
  .imag-container{
    text-align: center;
  }
        table{
          margin:auto;
          text-align: center;
          width: 10px;
        }
  #main{
    margin: auto;
    height: auto;
    
  }
  .back{
    position: relative;;
    top:110px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display:inline-block;

  }

  .contact{
    margin:auto;
  }
  .contact label{
    text-align: left;
    display:inline-block;
    float: left;
  }
  .contact input{
    text-align: left;
    float:right;
    display:inline-block;
  }
  #submit{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 52%;
    display:inline-block;
  }
  footer { 
    background-color: black;
        position: fixed; 
        padding: 10px 10px 0px 10px; 
        bottom: 0; 
        width: auto; 
        margin-right:auto;
        margin-left:auto;
        left:20%;
        height: 40px; 
        background: white; 
        

    } 
</style>

//<-- upto this is contact.html css --!>

below is from index.html

<style>
h3{
  background-color: grey;
  font-size: medium;
  font-family: 'Cedarville Cursive', cursive;;
  color: white;
  text-align: center;
  width:auto;
  
}
body{
  width:auto;
  
  
}
.imag-container{
  text-align: center;
}
form{
  background-color: white;
}
footer { 
      position: fixed; 
      padding: 10px 10px 0px 10px; 
      bottom: 0; 
      width: auto; 
      /* Height of the footer*/  
      height: 40px; 
      background: white; 

  } 